[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotvim/bundle/Vundle.vim"]
	path = dotvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "spacemacs/private/fzf-spacemacs-layer"]
	path = spacemacs/private/fzf-spacemacs-layer
	url = https://github.com/ashyisme/fzf-spacemacs-layer.git
[submodule "tmux/tmux-weather"]
	path = tmux/tmux-weather
	url = https://github.com/deronnek/tmux-weather.git
